body{
    text-align: center;
}

h1{
    font-size: 40px;
    font-family: sans-serif;
    font: weight 300px; ;
}

.line{
    height: 6px;
    background-color: black;
    width: 70px;
    margin: 8px auto;
}

#app {
    background-color: darkblue;
}

#gameis{
    background-color: darkred;
}

#BOT{
    background-color: green;
}

#KLAUS{
    font-size: 40px;
    font-family: sans-serif;
    font: weight 300px; ;
}